body{
    background-color: #facedd;
    font-family: "Nunito", sans-serif;
}
/*Navigation styles*/
#mainNavigate{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavigate .nav-link{
    color: white;
}
#mainNavigate .nav-link:hover, #mainNavigate .navbar-brand{
    color: #ea1c2c;
}
.navbar{
    transition:1s;
}
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus{
    box-shadow: none;
    outline: none ;
    border: none;
}



.bi-list{
    fill: #ffffff;
}
.bi-list:hover, .bi-list:focus{
    fill:#ea1c2c;
}


/*main content styles*/
#content .slashes{
    color: #ea1c2c;
}
.main p{
    font-size: 1.4rem;
}
.main p, .main h2{
    color: #ea1c2c;
    font-weight: 200;
    line-height: 2;
}
.icons{
    scale:0.8;
}

.navbar.scrolled{
    background-color: rgba(222, 192, 222, 0.905);
}


@media (max-width: 900px){
    #content h2{
        font-size: 1.2rem;
    }
    .main p{
        font-size: 1.2rem;
    }
}